* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  background-color: yellow;
  font-family: "Times New Roman", Times, serif;
}

.content-title {
  text-align: center;
}

.inputs {
  text-align: center;
  margin: 1rem;
}

button {
  padding: 0.5rem;
  background-color: white;
  color: black;
}

button:hover {
  background-color: red;
}

#canvas {
  width: 585px;
  height: 585px;
  margin: 0 auto;
  display: grid;
  outline: solid black;
  background-color: white;
}

#canvas div {
  outline: 0.01px solid black;
}
